.error-message {
  color: red;
  margin-bottom: 3px;
  font-size: 14px;
}

.file-name {
  font-size: 14px;
  color: black;
  word-break: break-all;
  background-color: beige;
  padding: 3px 0 3px 10px;
}

.upload-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: "background-color 0.3s";
}

.upload-container {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
    padding: 1rem;
    width: 300px;
}

.data-container {
  display: flex;
  gap:10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  font-size: 25px;
  margin-bottom: 30px;
}

.input-container {
  display: none;
}